h1 {
  color: #5657fe;
  font-family: "VT323", monospace;
}

ul {
  list-style: none;
}

body {
  font-family: "VT323", monospace;
  color: #fdfeae;
  background-color: #030303;
  margin-left: 10px;
}

.wrapper {
  padding-left: 12px;
}

.card {
  background: transparent;
  border-color: #5657fe;
  border-style: double;
  border-width: 3px;
}

.container {
  width: 550px;
  margin-bottom: 10px;
  line-height: 26px;
  font-size: 20px;
}

.city-name {
  color: #ff5704;
  font-size: 36px;
  margin-left: 45px;
}

.time {
  position: relative;
  left: -40px;
}

.tempdiv {
  font-size: 40px;
  color: #ffaaa5;
}

.cel-degree,
.fah-degree {
  font-size: 18px;
  position: relative;
  top: -12px;
}

.fadeinout {
  opacity: 1;
  animation: fade 0.7s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
