h1 {
  /* color: #5657fe; */
  color: #0000ff;
  font-family: "VT323", monospace;
  font-size: 56px;
}

ul {
  list-style: none;
}

body {
  font-family: "VT323", monospace;
  color: #ffaaa5;
  background-color: #030303;
  margin-left: 20px;
}

.wrapper {
  width: 55rem !important;
  height: 26rem;
}

.card {
  background: transparent;
  /* border-color: #5657fe; */
  border-color: #0000ff;
  border-style: double;
  border-width: 10px;
  border-radius: 10px;
}

.container {
  margin-bottom: 20px;
  line-height: 52px;
  font-size: 36px;
  width: 54rem;
}

#city-name {
  color: #ff0000;
  font-size: 72px;
  margin-left: 80px;
}

.time {
  position: relative;
  left: -20px;
}

#mainimg {
  width: 150px;
}

.tempdiv {
  font-size: 80px;
  color: #ffff04;
}

.cel-degree,
.fah-degree {
  font-size: 36px;
  position: relative;
  top: -24px;
}

.tempdiv .active {
  color: #ffff04;
}

.tempdiv .active:hover {
  text-decoration: none;
}

.fadeinout {
  opacity: 1;
  animation: fade 0.7s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.search-bar {
  position: relative;
  left: 32rem;
  top: 20px;
}
